<%- include('header_user') %>

<div id="inputContainer" class="container w-50 p-5">
    <div class="mb-4 text-center display-4">
        <h1 >Ajouter un Patient</h1>
    </div>
<<<<<<< HEAD

    <br>
    <br>

    <div> 
        <form action="/patient/formulaire" method="post" enctype="application/x-www-form-urlencoded">
            <label for="patNom">Nom :</label> 
            <input type="text" id="patNom" name="patNom">

            <label for="patPrenom">Prenom :</label> 
            <input type="text" id="patPrenom" name="patPrenom">

            <label for="patNaissance">Naissance :</label> 
            <input type="date" id="patNaissance" name="patNaissance">

            <label for="patNumSecu">Numéro de sécurité sociale :</label> 
            <input type="text" id="patNumSecu" name="patNumSecu">

            <label for="patNumMut">Numéro de mutuelle (AMC) :</label> 
            <input type="text" id="patNumMut" name="patNumMut">

            <label for="patMutuelle">Mutuelle :</label> 
            <select name="patMutuelle" id="patMutuelle">
                <% formPatient.forEach(function(res){ %>
                    <option value="<%= res.mut_Id %>"><%= res.mut_Nom %></option>
                <% }) %> 
=======
    <form action="/patient/formulaire"></form>
        <div class="input-group">
            <span class="input-group-text" id="">Nom</span>
            <input type="text" class="form-control" id="patNom" placeholder="">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text" id="">Prenom</span>
            <input type="text" class="form-control" id="patPrenom" placeholder="">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text" id="">Naissance</span>
            <input type="text" class="form-control" id="patNaissance" placeholder="">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text" id="">Numéro sécurité sociale</span>
            <input type="text" class="form-control" id="patNumSecu" placeholder="">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text" id="">Numéro de mutuelle (AMC) </span>
            <input type="text" class="form-control" id="patNumMut" placeholder="">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text" id="">Mutuelle</span>
            <select class="form-select" name="chooseMut" id="chooseMut">
                <% formPatient.forEach(function(res){ %>
                    <option value="<%= res.mut_Nom %>"><%= res.mut_Nom %></option>
                <% }) %>  
>>>>>>> e785808c813231745303d5264a45fbbde25e1988
            </select>
        </div>
        <br>

        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success btn-block" id="btnAjouterPatient">Ajouter</button>
        </div>
    </form>
</div>

<%- include('footer') %>