<%- include('header_user') %>

<div id="inputContainer" class="container w-50 p-5">
    <div class="mb-5 text-center display-4">
        <h1 >Ajouter une Ordonnance</h1>
    </div>
    <form action="/ordonnance/formulaire" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row">
            
            <div>Date de l'ordonnance :</div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" for="ordoDate">Date</span>
                <input type="date" class="form-control" id="ordoDate" name="ordoDate">
            </div>
            <hr class="my-4">
            <div>Information du patient :</div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" for="patId"> Patient</span>
                <select  class="form-select" name="patId" id="patId">
                    <% dataPatient.forEach(function(res){ %>
                        <option value="<%= res.pat_Id %>"><%= res.pat_Nom %></option>
                    <% }) %> 
                </select>
            </div>
            <br>
            <hr class="my-4">
            <div>Information du médecin :</div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" for="medId">Nom du Médecin</span>
                <select class="form-select" name="medId" id="medId">
                    <% dataMedecin.forEach(function(res){ %>
                        <option value="<%= res.med_Id %>"><%= res.med_Nom %></option>
                    <% }) %> 
                </select>
            </div>
            <br>
            <hr class="my-4">
            <div>Information Pathologie :</div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" for="pathId"> Pathologie:</span>
                <select class="form-select" name="pathId" id="pathId">
                    <% dataPathologie.forEach(function(res){ %>
                        <option value="<%= res.path_Id %>"><%= res.path_Nom %></option>
                    <% }) %> 
                </select>
            </div>
            <hr class="my-4">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success btn-block" id="btnAjouterOrdonnance">Ajouter</button>
            </div>
        </div>
        
    </form>
</div>

<%- include('footer') %>