<%- include('header_user') %>


    <div class="mb-4 text-center display-4 mt-5">
        <h1 >Liste des Mutuelles</h1>
    </div>

    <div class="container w-50 mt-5 bg-light p-3 li-container"> 
        <ul class="list-group"> <% dataMutuelle.forEach(function(res){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <!-- <div><input type="text" value="<%= res.med_Id %>" disabled hidden></div> -->
                <div><strong><%= res.mut_Id %></strong></div>
                <div><%= res.mut_Nom %></div>
                <div>Taux de remboursement de <strong><%= res.mut_Taux %>%</strong></div>
            </li>
        <% }) %> 
        </ul>
    </div>

<%- include('footer') %>