<%- include('header_user') %>

<div class="mb-4 text-center display-4 mt-5">
    <h1 >Liste des ordonnances</h1>
</div>

    <div class="container w-75 mt-5 bg-light p-3 li-container"> 
        <ul class="list-group"><% dataOrdonnance.forEach(function(res){ %>
            <li class="list-group-item d-flex align-items-center">
                <!-- <div><input type="text" value="<%= res.med_Id %>" disabled hidden></div> -->
                <div><strong><%= res.ordo_Id %></strong></div>
                <div><strong><%= res.ordo_Date %></strong></div>
                <div><strong><%= res.pat_Nom %></strong><%= res.pat_Prenom %> - <%= res.pat_Naissance %></div>
                <div><strong>Souffrant de : </strong><%= res.path_Nom %></div>
                <div> <strong>Dr.</strong>  <%= res.med_Nom %> <%= res.med_Prenom %> (<i><%= res.dip_Nom %></i>) / <img src="/images/phone.png" class="li-icon">: <%= res.med_Num %></div>
                <div><a href="http://localhost:3000/posologie/<%= res.ordo_Id %> ">voir les Médicament</a></div>
                <div><a href="http://localhost:3000/ordonnance/modifier/<%= res.ordo_Id %> "><img src="/images/update.png" class="li-icon"></a> <a href="http://localhost:3000/ordonnance/supprimer/<%= res.ordo_Id %>"><img src="/images/delete.png" class="li-icon"></a></div>
            </li>
        <% }) %> 
        </ul>
    </div>

<%- include('footer') %>