<%- include('header_user') %>

<div class="mb-4 text-center display-4 mt-5">
    <h1 >Liste des Pathologies</h1>
</div>

<div class="container w-50 mt-5 bg-light p-2 li-container"> 
    <ul class="list-group"> <% dataPathologie.forEach(function(res){ %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- <div><input type="text" value="<%= res.med_Id %>" disabled hidden></div> -->
            <div><strong><%= res.path_Id %></strong></div>
            <div><%= res.path_Nom %> </div>
            <div><a href="http://localhost:3000/pathologie/modifier/<%= res.path_Id %> "><img src="/images/update.png" class="li-icon"></a> <a href="http://localhost:3000/pathologie/supprimer/<%= res.path_Id %>"><img src="/images/delete.png" class="li-icon"></a></div>
        </li>
    <% }) %> 
    </ul>
</div>

    <!-- <div> 
        <strong>Pathologies :</strong>
        <ul> <% dataPathologie.forEach(function(res){ %>
            <li>
                <%= res.path_Nom %> <a href="http://localhost:3000/pathologie/modifier/<%= res.path_Id %> ">modifier</a> <a href="http://localhost:3000/pathologie/supprimer">supprimer</a>
            </li>
        <% }) %> 
        </ul>
    </div> -->

<%- include('footer') %>