<%- include('header_user') %>

<div class="mb-4 text-center display-4 mt-5">
    <h1 >Liste des Médicaments</h1>
</div>

    <br>
    <br>

    <div> 
        <strong>Médicaments :</strong> 
        <ul> <% dataMedicament.forEach(function(res){ %>
            <li>
                <%= res.medic_Nom %> (<%= res.medic_Type %>) - <%= res.medic_QteStock %> boites en stock  <a href="http://localhost:3000/medicament/modifier/<%= res.medic_Id %> ">modifier</a> <a href="http://localhost:3000/medicament/supprimer">supprimer</a>
            </li>
        <% }) %> 
        </ul>
    </div>

<%- include('footer') %>