<%- include('header_user') %>

    <div class="mb-4 text-center display-4 mt-5">
        <h1 >Liste des Médecins</h1>
    </div>

    <br>
    <br>

    <div> 
        <ul> <% dataMedecin.forEach(function(res){ %>
            <li>
                <strong>Monsieur</strong> <%= res.med_Nom %> <%= res.med_Prenom %>, <%= res.dip_Nom %> - <strong>Num :</strong> <%= res.med_Num %> <a href="http://localhost:3000/medecin/modifier/<%= res.med_Id %> ">modifier</a> <a href="http://localhost:3000/medecin/supprimer">supprimer</a>
            </li>
        <% }) %> 
        </ul>
    </div>

<%- include('footer') %>