<%- include('header_user') %>

<div id="inputContainer" class="container w-50 p-5">
    <div class="mb-4 text-center display-4">
        <h1 >Modifier un Patient</h1>
    </div>
    <div> <% dataPatient.forEach(function(res){ %>
        <form action="/patient/modifier/<%= res.pat_Id %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="patNom">Nom</span>
                    <input type="text" class="form-control" id="patNom" name="patNom" value="<%= res.pat_Nom %>">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="patPrenom">Prenom</span>
                    <input type="text" class="form-control" id="patPrenom" name="patPrenom" value="<%= res.pat_Prenom %>">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="patNaissance">Naissance</span>
                    <input type="text" class="form-control" id="patNaissance" name="patNaissance" value="<%= res.pat_Naissance %>">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="patNumSecu">Numéro sécurité sociale</span>
                    <input type="text" class="form-control" id="patNumSecu" name="patNumSecu" value="<%= res.pat_NumSecu %>">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="patNumMut">Numéro de mutuelle (AMC) </span>
                    <input type="text" class="form-control" id="patNumMut" name="patNumMut" value="<%= res.pat_NumMut %>">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="patMutuelle">Mutuelle</span>
                    <select class="form-select" name="patMutuelle" id="patMutuelle">
                        <% dataMutuelle.forEach(function(res){ %>
                            <option value="<%= res.mut_Id %>"><%= res.mut_Nom %></option>
                        <% }) %> 
                    </select>
                </div>
                <hr class="my-4">
        
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success btn-block" >Modifier</button>
                </div>
            </div>
            <% }) %>
        </form>
    </div>
    <a href="http://localhost:3000/patient"><img src="/images/goback.png" class="li-icon"></a>
</div>

<%- include('footer') %>