<%- include('header_user') %>

<div id="inputContainer" class="container w-50 p-5">
    <div class="mb-5 text-center display-4">
        <h1 >Modifier une Mutuelle</h1>
    </div>
    <div> <% dataMutuelle.forEach(function(res){ %>
        <form action="/mutuelle/modifier/<%= res.mut_Id %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="mutNom">Nom</span>
                    <input type="text" class="form-control" id="mutNom" name="mutNom" value="<%= res.mut_Nom %>">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="mutTaux"> Taux de romboursement</span>
                    <input type="text" class="form-control" id="mutTaux" name="mutTaux" value="<%= res.mut_Taux %>">
                </div>
                <hr class="my-4">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success btn-block" id="btnModifierMutuelle">Modifier</button>
                </div>
            </div>
            <% }) %> 
        </form>
    </div>
    <a href="http://localhost:3000/mutuelle"><img src="/images/goback.png" class="li-icon"></a>
</div>

<%- include('footer') %>