<%- include('header_user') %>

<div id="inputContainer" class="container w-50 p-5">
    <div class="mb-5 text-center display-4">
        <h1 >Modifier un Médicament</h1>
    </div>
    <div> <% dataMedicament.forEach(function(res){ %>
        <form action="/medicament/modifier/<%= res.medic_Id %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="medicNom">Nom</span>
                    <input type="text" class="form-control" id="medicNom" name="medicNom" value="<%= res.medic_Nom %>">
                </div>
                <br>
                <small class="text-muted">(nombre de boites)</small>
                <div class="input-group  mb-3">
                    <span class="input-group-text" for="medicQteStock">Quantité en stock </span>
                    <input type="text" class="form-control" id="medicQteStock" name="medicQteStock" value="<%= res.medic_QteStock %>">
                </div>
                <br>
                <small class="text-muted">(comprimé, pastille, pilule ...)</small>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="medicType"> Type :</span>
                    <input type="text" class="form-control" id="medicType" name="medicType" value="<%= res.medic_Type %>">
                </div>
                <hr class="my-4">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success btn-block" id="btnAjouterMedicament">Ajouter</button>
                </div>
            </div>
            <% }) %> 
        </form>
    </div>
    <a href="http://localhost:3000/diplome"><img src="/images/goback.png" class="li-icon"></a>
</div>


    <!-- <div> <% dataMedicament.forEach(function(res){ %>

        <form action="/medicament/modifier/<%= res.medic_Id %>" method="post" enctype="application/x-www-form-urlencoded">
            <ul>
                <li>
                    <label for="medicNom">Nom : </label>
                    <input type="text" name="medicNom" id="medicNom" value="<%= res.medic_Nom %>">

                    <label for="medicType">Type (comprimé, pastille, pilule ...) :</label>
                    <input type="text" name="medicType" id="medicType" value="<%= res.medic_Type %>">

                    <label for="medicQteStock">Quantité en stock (nombre de boites) :</label> 
                    <input type="number" id="medicQteStock" name="medicQteStock" value="<%= res.medic_QteStock %>">

                    <button type="submit">Valider</button>
                </li>
            <% }) %> 
            </ul>
        </form>
    </div>
    <a href="http://localhost:3000/medicament">⬅️</a> -->

<%- include('footer') %>